<%- include("header.ejs") %>
<%- review  %>
<div class="left-box body">
    <button><a href="<%=artUri%>/edit">Edit</a></button>
    <button><a href="/">Delete</a></button>
</div>
<!-- <%- include("footer.ejs") %> -->