<%- include("partials/header.ejs") %>
<style>
  /* Your custom CSS styles can go here if needed */
  body {
    background-color: #f8f9fa;
    padding: 20px;
  }

  .custom-container {
    max-width: 600px; /* Adjust as needed */
    margin: auto;
  }

  .custom-container .feedback-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* Add more custom styles as needed */
</style>
<h1 class="mt-3 mb-4">About Me</h1>
<div class="custom-container">
  <img
    class="profile"
    src="https://github.com/AbhinavSingh111.png"
    alt="cat profile"
  />
  <h3>Greetings!</h3>

  <p>
    I am a dynamic individual passionate about web development and database
    management. With a background in creating robust and user-friendly
    applications, my journey in the digital realm has been marked by a
    commitment to excellence and a thirst for innovation.
  </p>

  <p>
    As a web developer, I specialize in crafting intuitive and visually
    appealing user interfaces that seamlessly integrate with powerful backend
    systems. My proficiency spans across a variety of technologies, enabling me
    to bring ideas to life and enhance digital experiences.
  </p>
</div>
<%- include("partials/footer.ejs") %>
